/*Imports*/
@import url('http://fonts.cdnfonts.com/css/super-legend-boy');
/*Imports*/

/* Reset */
body, header, main, footer, p, div, button, h1, h2, h3, h4, h5, h6, button, img, ul, li{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/*Reset*/

/*Variaveis*/
:root{
    font-size: 8px;
    font-family: 'Super Legend Boy', sans-serif;
    color: white;
    --border: 2px inset #ffc90e;
    --background-h-f: #0f1518b7;
    --mage:  #017579;
    --warrior: #a20000;
    --assassin: #bc19d7;
    --archer: #006343;
    --mageDiv: #01757952;
    --warriorDiv: #a2000052;
    --archerDiv: #00634352;
    --assassinDiv: #bc19d752;
    --background-second: #251a1a;
    --background-second-black: #130b0b;
    --background-second-white: #453434;
    --background-second-tranparent: #1b0f0f52;
    --scroll: #1b0f0f9c;
    --monstro: #35005b;
}
/*Variaveis*/

@keyframes hiddenToVisible{
    0%{height: 0;}
    100%{height: 400px;}
}

@keyframes fadeIn {
    0%{opacity: 0;}
    100%{opacity: 1;}
}